@model web407.Models.Person
@{
    ViewData["Title"] = "登録";
}

<h1>フォーム入力</h1>
<div style="color:red">@ViewBag.ErrorMessage</div>
@using ( @Html.BeginForm("Post", "Person"))
{
<div class="container">
    <div class="row">
        <div class="col-2">名前</div>
        <div class="col-3">@Html.TextBoxFor( x => x.Name )</div>
    </div>
    <div class="row">
        <div class="col-2">年齢</div>
        <div class="col-3">@Html.TextBoxFor( x => x.Age )</div>
    </div>
    <div class="row">
        <div class="col-2">電話</div>
        <div class="col-3">@Html.TextBoxFor( x => x.Telephone )</div>
    </div>

    <div>
        <input type="submit" value="登録" class="btn-primary" />
    </div>
</div>
}
